:root {
  color-scheme: light dark;
}

body {
  font-family: Open Sans, Arial;
  color: var(--text-color);
  font-size: 16px;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  --border-color:#b19cd9;
  --color-accent: oklch(50% 10% 200 / 40%);
  accent-color: var(--color-accent);  
  padding-top: 2rem;
}

/* Sizing Headers*/
h1 { font-size: 300%; 
  margin-bottom: 0px;
  margin-top: 0px;
}
h2 { font-size: 140%; }
h3 { font-size: 100%; }

/* Theme Switcher */
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 75%; 
  font-family: inherit; 
}

/* Contact Form*/
form { 
  display: grid; 
  grid-template-columns: auto 1fr; 
  gap: 1em; 
}

button { grid-column: 1 / -1; }

input, textarea, button, .color-scheme {
  font-family: inherit;
}

/* Navigation Bar */
nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  margin-top: -10px;
}

nav a { 
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: .4em;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

nav a:hover {
  border-bottom: .4em;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  transition: 100ms;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}
.projects article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  border: 1px solid #ddd;
  padding: 10px;
}
.projects h2 { margin: 5px; }

.projects img {
  max-width: 100%;
  height: 150px;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  text-wrap: balance;
}

/* Resume */
section {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  /* margin-top: 0px; */
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* Profile Stats (on homepage) */
#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 2px 0;
}#profile-stats dt {
  grid-row: 1;
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin: 2px 0;
}#profile-stats dd{
  grid-row: 2; 
  font:inherit;
  font-size: 20px;
  text-align: center;
  margin: 2px 0;
}

/* Pie Chart */
#ppie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.legend {
  list-style: none;
  font: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  justify-content: center;
  border: 2px solid #ddd; 
  border-radius: 3px;
  flex: 1;
  gap: 6px;
  padding: 8px;
}

.legend li {
  display: flex;
  font: inherit;
  align-items: center;
  padding: 6px 10px;
}

.legend .swatch {
  width: 16px;
  height: 16px;
  background: var(--color);
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.70;
  }
}

path {
  transition: 250ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.selected:is(li) { font-weight: bold; }

/* Commit Graph Stats*/
#stats dl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 3px;
  margin: 2px 0; 
}

#stats dt {
  grid-row: 1;
  font: inherit;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  text-align: center;
  margin: 2px 0; 
}
#stats dd{
  grid-row: 2; 
  font:inherit;
  font-size: 16px;
  align-items: center;
  text-align: center;
  margin: 2px 0; 
}

/* Meta commits Tooltip */
.gridlines line { stroke: #ddd; stroke-opacity: 0.6;} 
.gridlines path { display: none; }

dl.info { /* I let copilot autofill this lol */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition-duration: 350ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

#commit-tooltip dt {
  grid-row: 1;
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  text-align: center;
  margin: 1px 0;
}
#commit-tooltip dd{
  grid-row: 2; 
  font:inherit;
  font-size: 12px;
  align-items: center;
  text-align: center;
  margin: 1px 0; 
}

.tooltip { /* I let copilot autofill this lol */
  position: fixed;
  top: 200em; /* just make it offscreen I guess */
  left: 1em;
  padding: 10px;
  background: white;
  color: #454545;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition-duration: 350ms;
  font-size: 12px;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected { fill: #ff6b6b; }

#language-breakdown { font: inherit; }

#language-breakdown dt { 
  font-weight: bold;
}

#language-breakdown dd {
  margin-left: 5px;
  margin-right: 25px;
}

#language-breakdown dt, #language-breakdown dd { display: inline-block; }

/* Meta slider */
#filter {
  display: flex;
  flex: 1;
  align-items: baseline;
}
#filter h2 {
  margin-right: auto;
}
#filter input[type="range"] { width: 500px; }
#time-slider {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 10px;
  margin-right:5px;
  margin-top: -15px;
}

/* file slider visualization */
.files {
  display:flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.files > div {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.files dt {
  grid-column: 1;
  font-weight: bold;
}

.files dt small {
  display: block;
  font-weight: normal;
  font-size: 12px;
}

.files dd .line {
  display: flex;
  width: 0.5em;
  height: 0.5em; /* instead of aspect ratio*/
  background: #a28ad2;
  border-radius: 50%;
}

.files dd {
  display: flex;
  grid-column: 2;
  flex-wrap: wrap;
  gap: 0.15em;
  padding-top: 0.6em;
}

/* scrolly styling */
#scrollytelling {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

/* feel free to play with this to make your scrolly more seemless with your plot */
#scroll-container {
  grid-column: 1;
  position: relative;
  width: 95%;
  height: 350px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 50px;
}

#chart {
  grid-column: 2;
}

#spacer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none; /* transparent */
  pointer-events: none;
}

#items-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.item {
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #eee;
}