:root {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  --color-accent:#b19cd9;
  --border-color: oklch(50% 10% 200 / 40%);
  accent-color: var(--color-accent);  
  
  padding-top: 2rem;
  background-color: canvas;
  color: canvastext;

  form { 
    display: grid; 
    grid-template-columns: auto 1fr; 
    gap: 1em; 
  }

  button { grid-column: 1 / -1; }

  nav { 
    display: flex;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
  }

  nav a { 
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }

  nav a.current {
    border-bottom: .4em;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
  }

  nav a:hover {
    border-bottom: .4em;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);
    /* background-color: oklch(from var(--color-accent) 95% 5% h) */
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
  }
  .projects article {
    grid-template-rows: subgrid;
    grid-row: span 3;
    
  }
  .projects h2 { margin: 0; }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
  }

  h1 { font-size: 400%; }
  h2 { font-size: 150%; }
  h3 { font-size: 100%; }
  
  section {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 75%; 
    font-family: inherit; 
  }

  input, textarea, button, .color-scheme {
    font-family: inherit;
  }
}